<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node掲示板</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script type="module" src="/javascript/commom.js"></script>
</head>

<body>
    <div class="welcome-menu">
        <h1>HELLO WORLD</h1>
    </div>
</body>

</html>