.column-right-narrow {
    margin-top: 10vh;
    height: auto;
    display: grid;
    place-items: center;
    text-align: center;
}

.column-left-wide {
    width: 76%;
}

img {
    width: 100%;
    border-radius: 0%;
}

html,
body {
    overflow: hidden;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* 一番手前に */
    pointer-events: none;
    opacity: 0;
    transition: opacity .8s ease;
}

body.fadeout::after {
    opacity: 1;
  }